.main-menu {
    background-image: url("/src/images/background.gif");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}