body {
    background-image: url("/src/images/calculator-bgc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bet-calculator {
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    backdrop-filter: blur(5px);
    width: fit-content;
    padding: 50px;
}


.bet-form {
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.bet-section-result {
    margin-left: 200px;
}

.bet-type {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.bet-input {
    width: 100%;
}

.bet-result {
    font-size: 22px;
}

.bet-win-sum {
    font-size: 28px;
}

.low_result {
    color: yellow;
}

.medium_result {
    color: orange;
}

.high_result {
    color: red
}

.bet-history-table {
    font-size: 20px;
    color: #1a1a1a;
}

th {
    width: 80px;
}

td {
    text-align: center;
}

.value_cell {
    background-color: rgba(51, 53, 142, 0.39);
}

.coef_cell {
    background-color: rgba(62, 186, 172, 0.39);
}

.type_cell {
    background-color: rgba(186, 157, 62, 0.39);
}

.win_cell {
    background-color: rgba(39, 255, 46, 0.39);
    font-size: 22px;
    font-weight: bold;
}

.date_cell {
    background-color: rgba(169, 172, 89, 0.39);
}

.bet-input {
    background-color: rgba(89, 71, 71, 0.3);
    border: none;
    height: 20px;
    border-radius: 4px;
}