.bet-calculator-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url("/src/images/calculator-bgc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.bet-calculator {
    margin-top: 160px;
    margin-inline: auto;
    display: flex;
    background-color: rgba(23, 18, 18, 0.55);
    backdrop-filter: blur(5px);
    border-radius: 44px;
    width: fit-content;
    padding: 50px;
}

.bet-form {
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.bet-section-result {
    margin-left: 130px;
}

.bet-type {
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 18px;
}

.bet-result {
    font-size: 32px;
    width: 320px;
}

.bet-win-sum {
    font-size: 28px;
}

.low_result {
    color: yellow;
}

.medium_result {
    color: orange;
}

.high_result {
    color: red
}

.bet-history-table {
    font-size: 20px;
    color: #1a1a1a;
}

th {
    width: 80px;
}

td {
    text-align: center;
}

.value_cell {
    background-color: rgba(51, 53, 142, 0.39);
}

.coef_cell {
    background-color: rgba(62, 186, 172, 0.39);
}

.type_cell {
    background-color: rgba(186, 157, 62, 0.39);
}

.win_cell {
    background-color: rgba(39, 255, 46, 0.39);
    font-size: 22px;
    font-weight: bold;
}

.date_cell {
    background-color: rgba(169, 172, 89, 0.39);
}

.bet-input {
    background-color: rgba(89, 71, 71, 0.3);
    border: none;
    height: 20px;
    padding: 2px 5px;
    border-radius: 4px;
    font-size: 20px;
    width: 220px;
    color: white;
    font-family: 'Jersey 10', sans-serif;
}

@media (max-width: 1000px) {

    .bet-calculator {
        margin-top: 100px;
        margin-left: 30px;
        backdrop-filter: blur(5px);
        border-radius: 20px;
        padding: 20px;
    }
    .bet-section-result {
        margin-left: 30px;
    }
}

@media (max-width: 750px) {

    .bet-calculator {
        margin-top: 100px;
        margin-inline: auto;
        backdrop-filter: blur(5px);
        border-radius: 20px;
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }
    .bet-section-result {
        margin-inline: auto;
        margin-bottom: 100px;
        font-size: 14px;
    }
    .bet-result {
        text-align: center;
        font-size: 25px;
    }
    .bet-history-table {
        font-size: 14px;
    }
}