.login-bg {
    background-image: url("../../images/login-bg.gif");
    width: 100%;
    height: 100%;
}

.login-page {
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: rgba(35, 29, 29, 0.3);
    backdrop-filter: blur(5px);
    text-align: center;
    font-family: 'Jersey 10', sans-serif;
    font-size: 16px;
    color: wheat;
}

.login-input {
    min-width: 240px;
    max-width: 400px;
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    box-sizing: border-box;
    font-family: 'Jersey 10', sans-serif;
}

.logined-btn {
    padding: 10px;
    color: #fff;
    background-color: #242424;
    border-color: #242424;
    border-radius: 4px;
    margin-inline: 8px;
}

.logined-btn:hover {
    background-color: #0e0e0e;
    color: #a8a3a3;
    transition: background-color 0.4s, color 0.4s;
}

.login-input:focus {
    border-color: #030b12;
    outline: none;
}

.login-input-container {
    display: flex;
    flex-direction: column;
}

.login-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-btn {
    width: 50%;
    padding: 10px 0;
    margin: 5px;
    border: solid 1px #3aff00;
    border-radius: 8px;
    background-color: rgba(39, 38, 38, 0.9);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.login-btn:disabled {
    background-color: #999;
    cursor: not-allowed;
}

.login-btn:hover:not(:disabled) {
    background-color: #0056b3;
}

.account-logined {
    max-width: 400px;
    margin: auto;
    padding: 30px;
    background-color: rgba(35, 29, 29, 0.3);
    backdrop-filter: blur(5px);
    border: solid 1px #3aff00;
    border-radius: 8px;
    text-align: center;
    font-size: 22px;
}

.account-logined button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.account-logined button:hover {
    background-color: #a71d2a;
}

.login-loader {
    margin: auto;
    font-family: 'Jersey 10', sans-serif;
    font-size: 56px;
    color: rgba(213, 1, 1, 0.99);
}

.login-title {
    font-family: 'Jersey 10', sans-serif;
    font-size: 52px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 8px;
}
