.card-flipper-bg {
    background-image: url("../../images/card-flipper-bg.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.cards {
    display: flex;
    gap: 50px;
    padding: 20px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card_container {
    width: 300px;
    height: 450px;
    perspective: 1000px;
    cursor: pointer;
}

.card_inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 10px;
}

.card_container:hover .card_inner {
    transform: rotateY(180deg);
}

.card_front,
.card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card_front img,
.card_back img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card_back {
    transform: rotateY(180deg);
}
