.main-menu {
    background-image: url("/src/images/background.gif");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
}

.main-menu-list {
    text-decoration: none;
    list-style-type: none;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    padding-right: 40px;
    margin-top: 200px;
    backdrop-filter: blur(4px);
    border-radius: 10px;
}

.main-menu-link {
    font-size: 42px;
}

.main-menu-link:hover {
    color: yellow;
}