.header {
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    z-index: 1;
}

.goHomeWalter {
    margin-left: 48px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.logo {
    width: 54px;
    height: 54px;
}

.logo:last-child {
    margin-right: 28px;
}

.logo:hover {
    cursor: pointer;
    transform: scale(110%);
    transition: scale 0.3s;
}

.img-balance {
    width: 36px;
    height: 36px;
    margin-right: 24px;
}

.balance {
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.header-account {
    font-size: 36px;
    margin-right: 20px;
    color: rgba(173, 255, 47, 0.51);
}

.sound-off {
    -webkit-filter: drop-shadow(3px 5px 3px #b50202);
}

.sound-on {
    -webkit-filter: drop-shadow(3px 5px 3px #2fcd05);
}