.crash-game-counter {
    font-size: 24px;
    background-color: rgba(26, 26, 26, 0.3);
    padding-inline: 5px;
    padding-block: 2px;
    border-radius: 8px;
}

.crash-game-counter-lose {
    background-color: rgba(218, 6, 6, 0.3);
    text-align: center;
}

.crash-game-counter-win {
    background-color: rgba(28, 205, 9, 0.3);
    text-align: center;
}