#root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: 'Jersey 10', sans-serif;
}

.App-footer{
    text-align: center;
    background-color: #1a1a1a;
    height: 80px;
    width: 100%;
}